<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NormalSmith.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <NormalSmith.Properties.Settings>
            <setting name="TextureWidth" serializeAs="String">
                <value>1024</value>
            </setting>
            <setting name="TextureHeight" serializeAs="String">
                <value>1024</value>
            </setting>
            <setting name="UseTangentSpace" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UseCosineDistribution" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GenerateBentNormalMap" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GenerateOcclusionMap" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SwizzleX" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="SwizzleY" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="SwizzleZ" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="LastModelFolder" serializeAs="String">
                <value>C:\</value>
            </setting>
            <setting name="LastAlphaFolder" serializeAs="String">
                <value>C:\</value>
            </setting>
            <setting name="RaySampleCount" serializeAs="String">
                <value>64</value>
            </setting>
            <setting name="MaxRayDistance" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="OcclusionThreshold" serializeAs="String">
                <value>0.726</value>
            </setting>
            <setting name="RayOriginBias" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LastModelPath" serializeAs="String">
                <value>C:\</value>
            </setting>
            <setting name="LastAlphaPath" serializeAs="String">
                <value>C:\</value>
            </setting>
            <setting name="IsDarkMode" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HighlightColor" serializeAs="String">
                <value>#FF0078D7</value>
            </setting>
            <setting name="EnhancedTangentProcessing" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ClampOcclusion" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FastPreview" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SupersampleFactor" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="BackfacingTris" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MeshSelectionIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AutoCheckUpdates" serializeAs="String">
                <value>True</value>
            </setting>
        </NormalSmith.Properties.Settings>
    </userSettings>
</configuration>